.inicio-sesion-inicio {
  height: 100vh;
  width: 100vw;
  background-color: #032843;
  display: flex;
  justify-content: end;
  color: #fff;
}

.div-derecha-inicio {
  width: 50%;
  height: 100%;
  background-color: #518c6e;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.overlap-inicio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}

.overlap-inicio img {
  width: 15rem;
}

.overlap .text-bienbenido {
  font-size: 3rem;
  margin-top: -1rem;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.div-correo {
  width: 35rem;
}

.div-correo p {
  margin-bottom: 0.2rem;
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Inter-Bold", Helvetica;
}

.div-correo input {
  color: #fff;
  width: 95%;
  height: 3rem;
  background-color: #032843;
  border: none;
  border-radius: 0.2rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-family: "Inter-Regular", Helvetica;
}

.div-contrasena {
  width: 35rem;
}

.div-contrasena p {
  margin-bottom: 0.2rem;
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Inter-Bold", Helvetica;
}

.div-contrasena input {
  color: #fff;
  width: 95%;
  height: 3rem;
  background-color: #032843;
  border: none;
  border-radius: 0.2rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-family: "Inter-Regular", Helvetica;
}

.div-contrasena .olvido-contasena {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Inter-Regular", Helvetica;
}

.cont-btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


.cont-btn-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.link a{
  text-decoration: none;
}

.btn-Ingresar-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #032843;
  border-radius: 6px;
  width: 20rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 1rem;
}

.btn-Ingresar-inicio:hover {
  background: #204766;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.div-crear-cuenta-i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
