.cont-w{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.boton {
    border: none;
    background-color: #f8f9fa;
}

.con-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}